body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background-color: #FFF;
    color: #333;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    gap: 20px; 
    max-width: 1024px;
    margin: 0 auto;
}

.grid-container-header {
    grid-template-columns: repeat(2,1fr);
    padding-bottom: 35px;
}

.grid-container-main {
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(3, 1fr);
}

.block {
    border: 1px solid #000000;
}

.block img{
    width:100%;
    height:100%;
    display:block;
    object-fit:cover;
}

.titleBlock {
    display: grid;
    align-items: center;      
    justify-items: center;   
}

.imgBigRobotBlock {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
}

.img3Block {
    grid-column: 1 / span 2;
}

.imgEndPosterBlock {
    grid-column: 3 / span 3;
}